@import "tailwindcss";

@font-face{
  src: url("/src/assets/font/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf");
  font-family: "Google Sans";
}

:root{
  --primary-color: rgb(13, 13, 13);
  --secondary-color: rgb(68, 165, 255);
  --tertiary-color: rgba(137, 46, 211, 0.773);
  --fourth-color: rgb(158, 61, 232);
  --font-color: white;
}

body{
  background-color: var(--primary-color);
  font-family: "Google Sans";
}